.footer-container{
    background-color: black;
    height: 10%;
    position: sticky;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container p {
    margin : 0;
    font-size: 0.9rem;
}
.footer-container p:last-child{
    margin-top : 0.5rem;
    font-size: 0.8rem;
}