.gallery-container{
    height: 80%;
    background-color: antiquewhite;
}

.gallery-container .gallery-heading{
    padding: 2rem 0 0;
}

.gallery-container .gallery-heading h1 {
    color: brown;
}

@media only screen and (min-width: 414px) and (max-width: 540px) {
    .gallery-container{
        height: 75%;
    }
}

@media only screen and (min-width: 360px) and (max-width: 414px) {
    .gallery-container{
        height: 70%;
    }
}